h1 { font-size: 180%; }
h2 { font-size: 160%; }
h3 { font-size: 140%; }
h4 { font-size: 120%; }
h5 { font-size: 100%; }
h6 { font-size: 80%; }

header {
    background-color: skyblue;
}
aside.firstAside {
    background-color: lightgreen;
}
aside.secondAside {
    background-color: green;
}
section {
    background-color: lightgray;
}
footer {
    background-color: darkblue;
    color: white;
    padding: 5px;
}
.wrap {
    padding: 1em;
    text-align: center;
}
.main {
    text-align: left;
}
header, aside, section, footer {
    padding: 5px;
}
